In [1]:
import pandas as pd
from datetime import datetime

## Get Risk Free rates from daily treasury rates

In [2]:
treasury_rates = pd.read_csv('daily-treasury-rates.csv', index_col='Date')
treasury_rates

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
09/30/2024,4.93,4.87,4.73,4.65,4.38,3.98,3.66,3.58,3.58,3.67,3.81,4.19,4.14
09/27/2024,4.90,4.87,4.68,4.64,4.35,3.90,3.55,3.49,3.50,3.60,3.75,4.15,4.10
09/26/2024,4.90,4.87,4.68,4.65,4.38,3.96,3.60,3.54,3.55,3.65,3.79,4.17,4.12
09/25/2024,4.79,4.78,4.69,4.64,4.36,3.89,3.53,3.49,3.52,3.65,3.79,4.18,4.14
09/24/2024,4.78,4.78,4.69,4.63,4.36,3.88,3.49,3.44,3.47,3.60,3.74,4.13,4.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/8/2024,5.54,5.48,5.49,5.39,5.24,4.82,4.36,4.11,3.97,3.99,4.01,4.33,4.17
1/5/2024,5.54,5.48,5.47,5.41,5.24,4.84,4.40,4.17,4.02,4.04,4.05,4.37,4.21
1/4/2024,5.56,5.48,5.48,5.41,5.25,4.85,4.38,4.14,3.97,3.99,3.99,4.30,4.13
1/3/2024,5.54,5.54,5.48,5.41,5.25,4.81,4.33,4.07,3.90,3.92,3.91,4.21,4.05
1/2/2024,5.55,5.54,5.46,5.41,5.24,4.80,4.33,4.09,3.93,3.95,3.95,4.25,4.08

In [3]:
selected_dates = treasury_rates.loc[['07/26/2024','08/30/2024','09/27/2024']]
selected_dates

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
07/26/2024,5.49,5.51,5.38,5.36,5.18,4.79,4.36,4.20,4.06,4.1,4.20,4.53,4.45
08/30/2024,5.41,5.32,5.21,5.12,4.89,4.38,3.91,3.79,3.71,3.8,3.91,4.28,4.20
09/27/2024,4.90,4.87,4.68,4.64,4.35,3.90,3.55,3.49,3.50,3.6,3.75,4.15,4.10

In [4]:
df1 = pd.read_csv('data/SPX/UnderlyingOptionsIntervals_3600sec_calcs_oi_2024-07-26.csv')
df2 = pd.read_csv('data/SPX/UnderlyingOptionsIntervals_3600sec_calcs_oi_2024-08-30.csv')
df3 = pd.read_csv('data/SPX/UnderlyingOptionsIntervals_3600sec_calcs_oi_2024-09-27.csv')

In [5]:
df1.head()

,underlying_symbol,quote_datetime,root,expiration,strike,option_type,open,high,low,close,...,underlying_ask,implied_underlying_price,active_underlying_price,implied_volatility,delta,gamma,theta,vega,rho,open_interest
0,^SPX,2024-07-26 10:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5456.22,0.0,5454.130,5.4324,0.9995,0.0,0.0,0.0314,-0.0047,24
1,^SPX,2024-07-26 11:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5450.09,0.0,5448.565,5.0932,0.9997,0.0,0.0,0.0202,-0.0117,24
2,^SPX,2024-07-26 12:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5474.09,0.0,5472.665,4.9448,0.9998,0.0,0.0,0.0160,-0.0184,24
3,^SPX,2024-07-26 13:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5488.51,0.0,5487.260,4.8580,1.0000,0.0,0.0,0.0141,-0.0210,24
4,^SPX,2024-07-26 14:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5463.44,0.0,5462.100,4.2050,1.0000,0.0,0.0,0.0034,-0.0269,24

In [6]:
def days_between_dates(date_str1, date_str2):
    # Convert strings to datetime objects
    date1 = datetime.strptime(date_str1, "%Y-%m-%d")
    date2 = datetime.strptime(date_str2, "%Y-%m-%d")
    
    # Calculate the difference in days
    delta = abs((date2 - date1).days)
    
    return delta

In [7]:
def get_period(days):
    if days <= 30:
        return "1 Mo"
    elif days <= 60:
        return "2 Mo"
    elif days <= 90:
        return "3 Mo"
    elif days <= 120:
        return "4 Mo"
    elif days <= 180:
        return "6 Mo"
    elif days <= 365:
        return "1 Yr"
    elif days <= 730:
        return "2 Yr"
    elif days <= 1095:
        return "3 Yr"
    elif days <= 1825:
        return "5 Yr"
    elif days <= 2555:
        return "7 Yr"
    else:
        return "10 Yr"

## For Each Df, add rf_rate, time to maturity (days / 252), option prices (mid point of ask and bid)

In [8]:
df1_date = "2024-07-26"
treasury_rate_date = "07/26/2024"

rf_rates = []
time_to_maturity = []
option_prices = []

for index, row in df1.iterrows():
    expiration = row['expiration']
    maturity = days_between_dates(df1_date,expiration)
    time_to_maturity.append(maturity/252) #time to maturity in days/year
    rf_rate_period = get_period(maturity)
    rf_rates.append(selected_dates.loc[treasury_rate_date,rf_rate_period])
    option_price = (row['ask'] + row['bid'])/2
    option_prices.append(option_price)

In [9]:
df1['risk_free_rate'] = rf_rates

In [10]:
df1['time_to_maturity'] = time_to_maturity

In [11]:
df1['option_price'] = option_prices

In [12]:
df1.head()

,underlying_symbol,quote_datetime,root,expiration,strike,option_type,open,high,low,close,...,implied_volatility,delta,gamma,theta,vega,rho,open_interest,risk_free_rate,time_to_maturity,option_price
0,^SPX,2024-07-26 10:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5.4324,0.9995,0.0,0.0,0.0314,-0.0047,24,5.49,0.083333,5250.00
1,^SPX,2024-07-26 11:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,5.0932,0.9997,0.0,0.0,0.0202,-0.0117,24,5.49,0.083333,5245.90
2,^SPX,2024-07-26 12:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,4.9448,0.9998,0.0,0.0,0.0160,-0.0184,24,5.49,0.083333,5269.65
3,^SPX,2024-07-26 13:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,4.8580,1.0000,0.0,0.0,0.0141,-0.0210,24,5.49,0.083333,5284.75
4,^SPX,2024-07-26 14:30:00,SPX,2024-08-16,200.0,C,0.0,0.0,0.0,0.0,...,4.2050,1.0000,0.0,0.0,0.0034,-0.0269,24,5.49,0.083333,5258.90

In [13]:
df2_date = "2024-08-30"
treasury_rate_date = "08/30/2024"

rf_rates = []
time_to_maturity = []
option_prices = []

for index, row in df2.iterrows():
    expiration = row['expiration']
    maturity = days_between_dates(df2_date,expiration)
    time_to_maturity.append(maturity/252) #time to maturity in days/year
    rf_rate_period = get_period(maturity)
    rf_rates.append(selected_dates.loc[treasury_rate_date,rf_rate_period])
    option_price = (row['ask'] + row['bid'])/2
    option_prices.append(option_price)

In [14]:
df2['risk_free_rate'] = rf_rates

In [15]:
df2['time_to_maturity'] = time_to_maturity

In [16]:
df2['option_price'] = option_prices

In [17]:
df2.tail()

,underlying_symbol,quote_datetime,root,expiration,strike,option_type,open,high,low,close,...,implied_volatility,delta,gamma,theta,vega,rho,open_interest,risk_free_rate,time_to_maturity,option_price
170179,^SPX,2024-08-30 12:30:00,SPXW,2025-06-30,7800.0,P,0.0,0.0,0.0,0.0,...,0.1465,-0.9893,0.0001,0.0,2.1519,-62.1389,0,4.38,1.206349,1957.75
170180,^SPX,2024-08-30 13:30:00,SPXW,2025-06-30,7800.0,P,0.0,0.0,0.0,0.0,...,0.1469,-0.9888,0.0001,0.0,2.2377,-62.1001,0,4.38,1.206349,1949.20
170181,^SPX,2024-08-30 14:30:00,SPXW,2025-06-30,7800.0,P,0.0,0.0,0.0,0.0,...,0.1529,-0.9846,0.0001,0.0,2.7270,-61.9042,0,4.38,1.206349,1942.10
170182,^SPX,2024-08-30 15:30:00,SPXW,2025-06-30,7800.0,P,0.0,0.0,0.0,0.0,...,0.1523,-0.9835,0.0001,0.0,2.8371,-61.8436,0,4.38,1.206349,1921.00
170183,^SPX,2024-08-30 16:15:00,SPXW,2025-06-30,7800.0,P,0.0,0.0,0.0,0.0,...,0.1466,-0.9863,0.0001,0.0,2.5017,-61.9775,0,4.38,1.206349,1907.30

In [18]:
df3_date = "2024-09-27"
treasury_rate_date = "09/27/2024"

rf_rates = []
time_to_maturity = []
option_prices = []

for index, row in df3.iterrows():
    expiration = row['expiration']
    maturity = days_between_dates(df3_date,expiration)
    time_to_maturity.append(maturity/252) #time to maturity in days/year
    rf_rate_period = get_period(maturity)
    rf_rates.append(selected_dates.loc[treasury_rate_date,rf_rate_period])
    option_price = (row['ask'] + row['bid'])/2
    option_prices.append(option_price)

In [19]:
df3['risk_free_rate'] = rf_rates

In [20]:
df3['time_to_maturity'] = time_to_maturity

In [21]:
df3['option_price'] = option_prices

In [23]:
df3.head()

,underlying_symbol,quote_datetime,root,expiration,strike,option_type,open,high,low,close,...,implied_volatility,delta,gamma,theta,vega,rho,open_interest,risk_free_rate,time_to_maturity,option_price
0,^SPX,2024-09-27 10:30:00,SPX,2024-10-18,200.0,C,0.0,0.0,0.0,0.0,...,4.7155,1.0000,0.0,0.0000,0.0102,-0.0049,47,4.9,0.083333,5560.05
1,^SPX,2024-09-27 11:30:00,SPX,2024-10-18,200.0,C,0.0,0.0,0.0,0.0,...,6.4713,0.9989,0.0,-0.2694,0.0714,-0.0249,47,4.9,0.083333,5554.50
2,^SPX,2024-09-27 12:30:00,SPX,2024-10-18,200.0,C,0.0,0.0,0.0,0.0,...,6.6151,0.9987,0.0,-0.3971,0.0776,-0.0352,47,4.9,0.083333,5544.20
3,^SPX,2024-09-27 13:30:00,SPX,2024-10-18,200.0,C,0.0,0.0,0.0,0.0,...,5.4759,0.9999,0.0,0.0000,0.0299,-0.0290,47,4.9,0.083333,5541.25
4,^SPX,2024-09-27 14:30:00,SPX,2024-10-18,200.0,C,0.0,0.0,0.0,0.0,...,5.5028,0.9998,0.0,0.0000,0.0305,-0.0369,47,4.9,0.083333,5535.10

In [24]:
#df.to_csv('') if needed

In [25]:
df1.to_csv('df1_modified.csv',index=False)
df2.to_csv('df2_modified.csv',index=False)
df3.to_csv('df3_modified.csv',index=False)